[Unit]
Description=Daemon for PWM control of the Raspberry Pi GPIO pins

[Service]
EnvironmentFile=-/etc/default/pi-blaster
User=root
ExecStart=/usr/sbin/pi-blaster $DAEMON_OPTS
ExecReload=/bin/kill -s HUP $MAINPID
Type=forking

[Install]
WantedBy=multi-user.target
